*{
  padding: 0px;
  margin: 0px;  
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid;
  background-color: #60B9FB;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.settings{
  width: 100vh;
  height: 100vh;

}